<!-- collapsed 1 -->	
<div class="row">
	<div class="col-xs-12">
		<fieldset>
			<legend> 
					<i ng-class="vm.isCollapsed1 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" 
					   uib-tooltip="{{vm.setTooltip(vm.isCollapsed1)}}" 
					   tooltip-append-to-body="true" 
					   tooltip-placement="auto" 
					   role="button" 
					   ng-click="vm.isCollapsed1 = !vm.isCollapsed1" 
					   aria-hidden="true"></i>
					1. Objetivo
			</legend>			
		</fieldset>
	</div>
</div>
		
<div class="well" uib-collapse="vm.isCollapsed1">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="inputPergunta1" class="control-label">
					Qual o objetivo da elaboração deste Procedimento Operacional Padronizado (POP) referente à higienização das instalações, equipamentos e móveis?
				</label>
				<input id="inputPergunta1"
					   name="inputPergunta1"
					   type="text"
					   class="form-control"
					   ng-model="vm.item.respostaList[0].texto"
					   auto-focus/>
			</div>
		</div>
	</div>
</div>
		
<!-- collapsed 2 -->	
<div class="row">
	<div class="col-xs-12">
		<fieldset>
			<legend> 
					<i ng-class="vm.isCollapsed2 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" 
					   uib-tooltip="{{vm.setTooltip(vm.isCollapsed2)}}" 
					   tooltip-append-to-body="true" 
					   tooltip-placement="auto" 
					   role="button" 
					   ng-click="vm.isCollapsed2 = !vm.isCollapsed2" 
					   aria-hidden="true"></i>
					2. Descrição dos Procedimentos
			</legend>			
		</fieldset>
	</div>
</div>

<div uib-collapse="vm.isCollapsed2" class="margin-left">
	<!-- collapsed 4.7.2 -->
	<div class="row">
		<div class="col-xs-12">
			<fieldset>
				<legend>
					<i ng-class="vm.isCollapsed21 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" 
					   uib-tooltip="{{vm.setTooltip(vm.isCollapsed21)}}" 
					   tooltip-append-to-body="true" 
					   tooltip-placement="auto" 
					   role="button" 
					   ng-click="vm.isCollapsed21 = !vm.isCollapsed21" 
					   aria-hidden="true"></i> 2.1 Natureza da superfície a ser higienizada
				</legend>
			</fieldset>
		</div>
	</div>
		
	<div class="well" uib-collapse="vm.isCollapsed21">
		<div class="row">
			<div class="col-xs-12">
				<i class="fa fa-lg fa-info-circle pull-right" 
					aria-hidden="true"
					uib-tooltip="Ver RDC" 
					tooltip-append-to-body="true" 
					tooltip-placement="auto"
					role="button"
					ng-click="mostraRDC21 = !mostraRDC21"></i>
			</div>
		</div>
	
		<div class="alert alert-info" role="alert" ng-show="mostraRDC21">
			Requisitos da RDC nº 216/2004: 
			<br/>O POP referente às operações de higienização de instalações, equipamentos e móveis deve conter informações quanto à natureza da superfície a ser higienizada (referente ao item 4.11.5).
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="inputPergunta2" class="control-label">
						Quais os procedimentos adotados pelos manipuladores em relação à  higiene pessoal e à  conduta?
					</label>
					<input id="inputPergunta2"
						   name="inputPergunta2"
						   type="text"
						   class="form-control"
						   ng-model="vm.item.respostaList[1].texto"/>
				</div>
			</div>
		</div>
	</div>
	
	<!-- collapsed 2.2 -->
	<div class="row">
		<div class="col-xs-12">
			<fieldset>
				<legend>
					<i ng-class="vm.isCollapsed22 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" 
					   uib-tooltip="{{vm.setTooltip(vm.isCollapsed22)}}" 
					   tooltip-append-to-body="true" 
					   tooltip-placement="auto" 
					   role="button" 
					   ng-click="vm.isCollapsed22 = !vm.isCollapsed22" 
					   aria-hidden="true"></i> 2.2. Produtos, equipamentos e utensílios de higienização 
				</legend>
			</fieldset>
		</div>
	</div>
	
	<div class="well" uib-collapse="vm.isCollapsed22">
		<div class="row">
			<div class="col-xs-12">
				<i class="fa fa-lg fa-info-circle pull-right" 
					aria-hidden="true"
					uib-tooltip="Ver RDC" 
					tooltip-append-to-body="true" 
					tooltip-placement="auto"
					role="button"
					ng-click="mostraRDC22 = !mostraRDC22"></i>
			</div>
		</div>
	
		<div class="alert alert-info" role="alert" ng-show="mostraRDC22">
			Requisitos da RDC nº 216/2004:
			<br/>O POP referente às operações de higienização de instalações, equipamentos e móveis deve conter informações quanto a: princípios ativos selecionados e suas concentrações, tempo de contato dos agentes químicos e/ou físicos utilizados na operação de higienização temperatura e outras informações que se fizerem necessárias (referente ao item 4.11.5).
			<br/>Devem ser tomadas precauções para impedir a contaminação dos alimentos causada por produtos saneantes, pela suspensão de partículas e pela formação de aerossóis. Substâncias odorizantes e/ou desodorantes em quaisquer das suas formas não devem ser utilizadas nas áreas de preparação e armazenamento dos alimentos (referente ao item 4.2.4).
			<br/>Os produtos saneantes utilizados devem estar regularizados pelo Ministério da Saúde. A diluição, o tempo de contato e o modo de uso/aplicação dos produtos saneantes devem obedecer às instruções recomendadas pelo fabricante. Os produtos saneantes devem ser identificados e guardados em local reservado para essa finalidade (referente ao item 4.2.5).
			<br/>Os utensílios e equipamentos utilizados na higienização devem ser próprios para a atividade e estar conservados, limpos e disponíveis em número suficiente e guardados em local reservado para essa finalidade. Os utensílios utilizados na higienização de instalações devem ser distintos daqueles usados para higienização das partes dos equipamentos e utensílios que entrem em contato com o alimento (referente ao item 4.2.6).

		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="inputPergunta3" class="control-label">
						Quais os produtos saneantes utilizados?
					</label>
					<label for="inputPergunta3" class="control-label"></label>
					<input id="inputPergunta3"
						   name="inputPergunta3"
						   type="text"
						   class="form-control"
						   ng-model="vm.item.respostaList[2].texto"/>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="inputPergunta4" class="control-label">
						Quais os utensílios e equipamentos utilizados na higienização?
					</label>
					<label for="inputPergunta4" class="control-label"></label>
					<input id="inputPergunta4"
						   name="inputPergunta4"
						   type="text"
						   class="form-control"
						   ng-model="vm.item.respostaList[3].texto"/>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="inputPergunta5" class="control-label">
						Onde são guardados os produtos saneantes, os utensílios e os equipamentos utilizados nas operações de higienização?
					</label>
					<label for="inputPergunta5" class="control-label"></label>
					<input id="inputPergunta5"
						   name="inputPergunta5"
						   type="text"
						   class="form-control"
						   ng-model="vm.item.respostaList[4].texto"/>
				</div>
			</div>
		</div>
	</div>
	
	<!-- collapsed 2.3 -->
	<div class="row">
		<div class="col-xs-12">
			<fieldset>
				<legend>
					<i ng-class="vm.isCollapsed23 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" 
					   uib-tooltip="{{vm.setTooltip(vm.isCollapsed23)}}" 
					   tooltip-append-to-body="true" 
					   tooltip-placement="auto" 
					   role="button" 
					   ng-click="vm.isCollapsed23 = !vm.isCollapsed23" 
					   aria-hidden="true"></i> 2.3. Visitantes
				</legend>
			</fieldset>
		</div>
	</div>
	
	<div class="well" uib-collapse="vm.isCollapsed23">
		<div class="row">
			<div class="col-xs-12">
				<i class="fa fa-lg fa-info-circle pull-right" 
					aria-hidden="true"
					uib-tooltip="Ver RDC" 
					tooltip-append-to-body="true" 
					tooltip-placement="auto"
					role="button"
					ng-click="mostraRDC23 = !mostraRDC23"></i>
			</div>
		</div>
	
		<div class="alert alert-info" role="alert" ng-show="mostraRDC23">
			Requisitos da RDC nº 216/2004:
			<br/>As instalações, os equipamentos, os móveis e os utensílios devem ser mantidos em condições higienização devem ser realizadas por funcionários comprovadamente capacitados e com frequência que garanta a manutenção dessas condições e minimize o risco de contaminação do alimento (referente ao item 4.2.1). Quando aplicável, os POP devem contemplar a operação de desmonte dos equipamentos (referente ao item 4.11.5).
			<br/>As operações de limpeza e, se for o caso, de desinfecção das instalações e equipamentos, quando não forem realizadas rotineiramente, devem ser registradas (referente ao item 4.2.3).
			<br/>A área de preparação do alimento deve ser higienizada quantas vezes forem necessárias e imediatamente após o término do trabalho (referente ao item 4.2.4).
			<br/>Os funcionários responsáveis pela atividade de higienização das instalações sanitárias devem utilizar uniformes apropriados e diferenciados daqueles utilizados na manipulação de alimentos (referente ao item 4.2.7).
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="inputPergunta6" class="control-label">
						Como são mantidas as instalações, equipamentos e os móveis quanto à higienização?
					</label>
					<label for="inputPergunta6" class="control-label"></label>
					<input id="inputPergunta6"
						   name="inputPergunta6"
						   type="text"
						   class="form-control"
						   ng-model="vm.item.respostaList[5].texto"/>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="inputPergunta7" class="control-label">
						Como é o uniforme dos responsável pela atividade de higienização das instalações sanitárias?
					</label>
					<label for="inputPergunta7" class="control-label"></label>
					<input id="inputPergunta7"
						   name="inputPergunta7"
						   type="text"
						   class="form-control"
						   ng-model="vm.item.respostaList[6].texto"/>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="inputPergunta8" class="control-label">
						Como são realizadas as operações de higienização das instalações, dos equipamentos e dos móveis?
					</label>
					<label for="inputPergunta8" class="control-label"></label>
					<input id="inputPergunta8"
						   name="inputPergunta8"
						   type="text"
						   class="form-control"
						   ng-model="vm.item.respostaList[7].texto"/>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label for="inputPergunta9" class="control-label">
						Onde são registradas as operações de higienização não rotineiras?
					</label>
					<label for="inputPergunta9" class="control-label"></label>
					<input id="inputPergunta9"
						   name="inputPergunta9"
						   type="text"
						   class="form-control"
						   ng-model="vm.item.respostaList[8].texto"/>
				</div>
			</div>
		</div>
		
	</div>
</div>

<!-- collapsed 3 -->	
<div class="row">
	<div class="col-xs-12">
		<fieldset>
			<legend> 
					<i ng-class="vm.isCollapsed3 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" 
					   uib-tooltip="{{vm.setTooltip(vm.isCollapsed3)}}" 
					   tooltip-append-to-body="true" 
					   tooltip-placement="auto" 
					   role="button" 
					   ng-click="vm.isCollapsed3 = !vm.isCollapsed3" 
					   aria-hidden="true"></i>
					3. Monitoramento
			</legend>			
		</fieldset>
	</div>
</div>
		
<div class="well" uib-collapse="vm.isCollapsed3">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="inputPergunta10" class="control-label">
					Como é realizado o monitoramento dos requisitos descritos no POP, referente à Higienização das Instalações, Equipamentos e Móveis?
				</label>
				<input id="inputPergunta10"
					   name="inputPergunta10"
					   type="text"
					   class="form-control"
					   ng-model="vm.item.respostaList[9].texto"/>
			</div>
		</div>
	</div>
</div>

<!-- collapsed 4 -->	
<div class="row">
	<div class="col-xs-12">
		<fieldset>
			<legend> 
					<i ng-class="vm.isCollapsed4 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" 
					   uib-tooltip="{{vm.setTooltip(vm.isCollapsed4)}}" 
					   tooltip-append-to-body="true" 
					   tooltip-placement="auto" 
					   role="button" 
					   ng-click="vm.isCollapsed4 = !vm.isCollapsed4" 
					   aria-hidden="true"></i>
					4. Ação Corretiva
			</legend>			
		</fieldset>
	</div>
</div>
		
<div class="well" uib-collapse="vm.isCollapsed4">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="inputPergunta11" class="control-label">
					Quais ações corretivas são adotadas caso ocorra uma não conformidade?
				</label>
				<input id="inputPergunta11"
					   name="inputPergunta11"
					   type="text"
					   class="form-control"
					   ng-model="vm.item.respostaList[10].texto"/>
			</div>
		</div>
	</div>
</div>

<!-- collapsed 5 -->	
<div class="row">
	<div class="col-xs-12">
		<fieldset>
			<legend> 
					<i ng-class="vm.isCollapsed5 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" 
					   uib-tooltip="{{vm.setTooltip(vm.isCollapsed5)}}" 
					   tooltip-append-to-body="true" 
					   tooltip-placement="auto" 
					   role="button" 
					   ng-click="vm.isCollapsed5 = !vm.isCollapsed5" 
					   aria-hidden="true"></i>
					5. Verificação
			</legend>			
		</fieldset>
	</div>
</div>
		
<div class="well" uib-collapse="vm.isCollapsed5">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="inputPergunta12" class="control-label">
					Como são implementados os procedimentos de verificação?
				</label>
				<input id="inputPergunta12"
					   name="inputPergunta12"
					   type="text"
					   class="form-control"
					   ng-model="vm.item.respostaList[11].texto"/>
			</div>
		</div>
	</div>
</div>

<!-- collapsed 6 -->	
<div class="row">
	<div class="col-xs-12">
		<fieldset>
			<legend> 
					<i ng-class="vm.isCollapsed6 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" 
					   uib-tooltip="{{vm.setTooltip(vm.isCollapsed6)}}" 
					   tooltip-append-to-body="true" 
					   tooltip-placement="auto" 
					   role="button" 
					   ng-click="vm.isCollapsed6 = !vm.isCollapsed6" 
					   aria-hidden="true"></i>
					6. Registros
			</legend>			
		</fieldset>
	</div>
</div>
		
<div class="well" uib-collapse="vm.isCollapsed6">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="inputPergunta13" class="control-label">
					Como são armazenados os documentos descritos neste POP?
				</label>
				<input id="inputPergunta13"
					   name="inputPergunta13"
					   type="text"
					   class="form-control"
					   ng-model="vm.item.respostaList[12].texto"/>
			</div>
		</div>
	</div>
</div>

<!-- collapsed 7 -->	
<div class="row">
	<div class="col-xs-12">
		<fieldset>
			<legend> 
					<i ng-class="vm.isCollapsed7 ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" 
					   uib-tooltip="{{vm.setTooltip(vm.isCollapsed7)}}" 
					   tooltip-append-to-body="true" 
					   tooltip-placement="auto" 
					   role="button" 
					   ng-click="vm.isCollapsed7 = !vm.isCollapsed7" 
					   aria-hidden="true"></i>
					7. Anexos
			</legend>			
		</fieldset>
	</div>
</div>
		
<div class="well" uib-collapse="vm.isCollapsed7">
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<label for="inputPergunta14" class="control-label">
					Quais são os documentos que se encontram em anexo neste POP?
				</label>
				<input id="inputPergunta14"
					   name="inputPergunta14"
					   type="text"
					   class="form-control"
					   ng-model="vm.item.respostaList[13].texto"/>
			</div>
		</div>
	</div>
</div>