<div>
	<br/>	
	<br/>
	<br/>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<h1 style="text-align: center;"> Procedimentos Operacionais Padronizados</h1>
			</div>
		</div>
	</div>
	
	<br/>	
	<br/>
	<br/>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<h3 style="text-align: center;"> POP – Higienização e à Saúde dos Manipuladores</h3>
			</div>
		</div>
	</div>
	
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<h3 style="text-align: center;"> Revisão {{vm.pop.revisao}}</h3>
			</div>
		</div>
	</div>
	
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<h3 style="text-align: center;"> {{vm.pop.empresaRazaoSociao}}</h3>
			</div>
		</div>
	</div>
	
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<p style="text-align: center;"> Elaborado por:____________________________________________ (nome completo)  Data: __/__/__</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group">
				<p style="text-align: center;"> Aprovado por:____________________________________________ (nome completo)  Data: __/__/__</p>
			</div>
		</div>
	</div>
	
	<br/>
	<br/>
	<br/>
	
	<ul>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<li> OBJETIVO
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<p class="recuo">{{vm.pop.respostaList[0].texto}}</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<li> DESCRIÇÃO DOS PROCEDIMENTOS
				</div>
			</div>
		</div>
		
		<ul>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<li> Higienação das Mãos
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<p class="recuo">{{vm.pop.respostaList[1].texto}}</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<p class="recuo">{{vm.pop.respostaList[2].texto}}</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<li> Saúde dos Manipuladores
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<p class="recuo">{{vm.pop.respostaList[3].texto}}</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<p class="recuo">{{vm.pop.respostaList[4].texto}}</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<p class="recuo">{{vm.pop.respostaList[5].texto}}</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<li> Capacitação
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<p class="recuo">{{vm.pop.respostaList[6].texto}}</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<p class="recuo">{{vm.pop.respostaList[7].texto}}</p>
					</div>
				</div>
			</div>
			
		</ul>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<li> Monitoramento
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<p class="recuo">{{vm.pop.respostaList[8].texto}}</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<li> Ação Corretiva
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<p class="recuo">{{vm.pop.respostaList[9].texto}}</p>
				</div>
			</div>
		</div>
				
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<li> Verificação
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<p class="recuo">{{vm.pop.respostaList[10].texto}}</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<li> Registro
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<p class="recuo">{{vm.pop.respostaList[11].texto}}</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<li> Anexos
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<p class="recuo">{{vm.pop.respostaList[12].texto}}</p>
				</div>
			</div>
		</div>
	</ul>
</div>
