<div class="row">
	<div class="col-xs-3"></div>
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<button class="btn btn-success btn-lg btn-block"
							ng-click="vm.listaPop(1)">
						Higienização de Instalações, Equipamentos e Móveis <i class="fa fa-cutlery"></i>
					</button>
				</div>
			</div>	
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<button class="btn btn-default-custumer btn-lg btn-block"
							ng-click="vm.listaPop(2)">
						Controle Integrado de Vetores e Pragas Urbanas <i class="fa fa-bug"></i>
					</button>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<button class="btn btn-success btn-lg btn-block"
							ng-click="vm.listaPop(3)">
						Higienização do Reservatório de água <i class="fa fa-tint"></i>
					</button>
				</div>
			</div>	
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<button class="btn btn-default-custumer btn-lg btn-block"
							ng-click="vm.listaPop(4)">
						Higiene e à Saúde dos Manipuladores <i class="fa fa-users"></i>
					</button>
				</div>
			</div>
		</div>
	</div>	
	<div class="col-xs-3"></div>
</div>