<form name="form" ng-submit="vm.entrar(form)" novalidate>
	<div class="modal-header">
	
		<div class="row">
			<div class="col-xs-6">				
				<h3>Login</h3>
			</div>
			
			<div class="col-xs-6 text-right">
				<i class="fa fa-times" aria-hidden="true" ng-click="vm.cancelar()"></i>
			</div>
		</div>
		
	</div>
	<div class="modal-body">
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group text-align:center">
					<center><img src="img/logo.PNG" class="img-custom" alt="Boas Práticas no Serviço de Alimentação"></center>
				</div>
			</div>
		</div>	
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error': form.$submitted && form.inputUsuario.$invalid}">
					
					<label for="inputUsuario" class="control-label">Usuário</label>					
					<div class="input-group"> 
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-at" aria-hidden="true"></i></span>
						<input type="email" 
							   id="inputUsuario" 
							   name="inputUsuario"
							   class="form-control" 
							   maxlength="200" 
							   ng-model="vm.item.email"
							   ng-required="true" 
							   focus
							   style="text-transform: lowercase"/>						
						<p ng-show="form.$submitted && form.inputUsuario.$invalid" class="help-block">Campo obrigatório</p>
					</div>
				</div>	
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error': form.$submitted && (form.inputSenha.$invalid || !vm.item.senha)}">
					<label for="inputSenha" class="control-label">Senha</label>
					<div class="input-group"> 
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
						<input type="password" 
							   id="inputSenha" 
							   name="inputSenha" 
							   class="form-control"
							   minlength="6"
							   maxlength="20" 
							   ng-model="vm.item.senha" 
							   ng-required="true" />
					</div>
						<p ng-show="form.$submitted && form.inputSenha.$invalid" class="help-block">Senha inválida, verifique o número de caracteres</p>
				</div>
			</div>
		</div>
		
	</div>
	<div class="modal-footer">
	
		<button type="submit"
				class="btn btn-success"
				ng-disabled="form.$submitted && form.$invalid"> 
				Entrar <i class="fa fa-arrow-right"></i>
		</button>
		
		<button type="button"
				class="btn btn-default"
				ng-click="vm.cancelar()">
				Cancelar <i class="fa fa-times" aria-hidden="true"></i>
		</button>
				
	</div>
</form>