<div ng-form name="form">
    <div class="modal-header">
        <h3 class="modal-title">Atualizar</h3>
    </div>
    <div class="modal-body">
        Deseja atualizar o número da revisão do documento?
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="vm.atualizar()" mps-auto-focus><i class="fa fa-check"></i> Sim</button>
        <button class="btn btn-default" type="button" ng-click="vm.cancelar()"><i class="fa fa-times"></i> Não</button>
    </div>
</div>