<a ui-sref="{{item.state}}" ng-if="!item.itens && !item.divider && !item.header">
    <span ng-init="hover=false" ng-mouseover="hover=true" ng-mouseleave="hover=false" ng-class="{{item.textClass}}">
        <i ng-if="item.class" ng-class="{{item.class}}"></i> {{item.text}}
    </span>
</a>
<span ng-if="item.header">{{item.text}}</span>
<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-if="item.itens">
    <span>
        <i ng-if="item.class" ng-class="{{item.class}}"></i> {{item.text}}
    </span>
    <span class="caret"></span>
</a>
<ul class="dropdown-menu" ng-if="item.itens">
    <li ng-repeat="item in item.itens" ng-class="{'dropdown': item.type === 'dropdown', 'divider': item.divider, 'dropdown-header': item.header }" ng-include="'app/layout/menu-item.html'"></li>
</ul>