<div class="row">
	
	<div class="col-xs-9">
		<h1 class="h1-custumer">Sobre</h1>			
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">						
					<h4 class="h1-custumer">
						<p style="text-align: justify;">Desenvolvido em 2016 pela equipe do Programa de Aplicação Profissional do Curso de tecnólogo em análise desenvolvimento de Sistemas, este sistema permite a criação, atualização e download do Manual de Boas Práticas(MBP) e dos Procedimentos Operacionais Padronizados(POP), ambos documentos exigidos pela Resoluçãoda Diretoria Colegiada n. 216 de 2004 pela Anvisa.<p/>
						<br/>
						<p style="text-align: justify;">O Manual de Boas Práticas é um documento que descreve as operações realizadas pelo estabelecimento, incluindo, no mínimo, os requisitos higiênico-sanitários dos edifícios, a manutenção e higienização das instalações, dos equipamentos e dos utensílios o controle da água de abastecimento, o controle integrado de vetores e pragas urbanas, a capacitação profissional, o controle da higiene e saúde dos manipuladores, o manejo de resíduos e o controle e garantia de qualidade do alimento preparado.</p>
						<br/>
						<p style="text-align: justify;">O Procedimento Operacional Padronizado é um documento onde são escritos os procedimentos de forma objetiva, que estabelece instruções sequenciais para a realização de operações rotineiras e específicas na manipulação de alimentos.<p/>
					</h4>
				</div>
			</div>
		</div>
    </div>
    
    <div class="col-xs-3" ng-if="vm.autenticado()">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<div class="panel panel-default">
						  <div class="panel-heading">
						  	<h4 class="h1-custumer">Informações da conta do usuário</h4>
						  </div>
						  <div class="panel-body">
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">{{vm.item.email}}</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">{{vm.item.nome}} {{vm.item.sobrenome}}
									</div>
								</div>
							</div>
						 </div>
					</div>				
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<button class="btn btn-custumer btn-lg btn-block"
							ng-click="vm.abrirModalEditar()">
							Editar Usuário <i class="fa fa-pencil-square-o"></i>
					</button>
				</div>
			</div>		
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<button class="btn btn-default-custumer btn-lg btn-block"
							ng-click="vm.excluirConta()">
						    Excluir Conta <i class="fa fa-trash-o"></i>
					</button>
				</div>
			</div>
		</div>    
    </div>
    
    <div class="col-xs-3" ng-if="!vm.autenticado()">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<br/>
					<p class="h1-custumer">Para iniciarmos realize o cadastro</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
					<button class="btn btn-custumer btn-lg btn-block"
							ng-click="vm.abrirModalCadastrar()">
							Cadastre-se <i class="fa fa-user-plus"></i>
					</button>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 text-center">
				<h3 class="h1-custumer">ou</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<button class="btn btn-default-custumer btn-lg btn-block"
							ng-click="vm.abrirModalLogin()">
						Fazer Login <i class="fa fa-arrow-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

