<form name="form" ng-submit="vm.salvar(form)" novalidate>
	<div class="modal-header">
	
		<div class="row">
			<div class="col-xs-6">	
				<h3>Usuário - {{vm.operacao}}</h3>
			</div>
			
			<div class="col-xs-6 text-right">
				<i class="fa fa-times" aria-hidden="true" ng-click="vm.cancelar()"></i>
			</div>
		</div>
	</div>
	
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error': form.$submitted && form.inputNome.$invalid}">
					<label for="inputNome" class="control-label">Nome</label>
					<input type="text" 
						   id="inputNome" 
						   name="inputNome"
						   class="form-control" 
						   maxlength="200" 
						   ng-model="vm.item.nome"
						   ng-required="true" 
						   ng-focus="true"
						   style="text-transform: capitalize"/>
					<p ng-show="form.$submitted && form.inputNome.$invalid" class="help-block">Campo obrigatório</p>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error': form.$submitted && form.inputSobrenome.$invalid}">
					<label for="inputSobrenome" class="control-label">Sobrenome</label>
					<input type="text" 
						   id="inputSobrenome" 
						   name="inputSobrenome" 
						   class="form-control" 
						   maxlength="200" 
						   ng-model="vm.item.sobrenome" 
						   ng-required="true"
						   style="text-transform: capitalize"/>
					<p ng-show="form.$submitted && form.inputSobrenome.$invalid" class="help-block">Campo obrigatório</p>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="vm.setNgClassEmail(form)">
					<label for="inputEmail" class="control-label">E-mail</label>
					<div class="input-group" ng-class="{'has-feedback': !vm.temEmailCadastrado && vm.item.email}"> 
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-at" aria-hidden="true"></i></span>
						<input type="email" 
							   id="inputEmail" 
							   name="inputEmail" 
							   class="form-control"
							   maxlength="100" 
							   ng-model="vm.item.email"
							   ng-change="vm.validarEmail(form)"
							   style="text-transform: lowercase"/>
					</div>
  					<span class="glyphicon glyphicon-ok form-control-feedback text-success" ng-if="!vm.temEmailCadastrado && vm.item.email" aria-hidden="true"></span>
  										
					<span ng-if="vm.temEmailCadastrado && vm.item.email" class="help-block">E-mail já cadastrado</span>
					<span ng-if="form.$submitted && form.inputEmail.$invalid" class="help-block">E-mail inválido</span>
					<span ng-if="form.$submitted && !form.inputEmail.$invalid && !vm.item.email" class="help-block">Campo obrigatório</span>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error': form.$submitted && form.inputSenha.$invalid || vm.minSenha() || (!vm.verificaSenha() && vm.temSenha() && !vm.minConfirmaSenha()))}">
					<label for="inputSenha" class="control-label">Senha</label>
					<div class="input-group"> 
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock" aria-hidden="true"></i></span>
						<input type="password" 
							   id="inputSenha" 
							   name="inputSenha" 
							   class="form-control"
							   maxlength="20" 
							   ng-model="vm.item.senha" 
							   ng-required="true" />
					</div>
						<p ng-show="form.$submitted && form.inputSenha.$invalid" class="help-block">Campo obrigatório</p>
						<p ng-show="form.$submitted && vm.minSenha()" class="help-block">Senha muito curta</p>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group" ng-class="{ 'has-error': form.$submitted && (form.inputConfirmaSenha.$invalid || vm.minConfirmaSenha() || (!vm.verificaSenha() && vm.temSenha() && !vm.minSenha()))}">
					<label for="inputConfirmaSenha" class="control-label">Confirmação de senha</label>
					<div class="input-group"> 
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
								<input type="password" 
									   id="inputConfirmaSenha" 
									   name="inputConfirmaSenha" 
									   class="form-control"
									   maxlength="20"
									   ng-model="vm.confirmacaoSenha" 
									   ng-required="true" />
								<p ng-show="form.$submitted && form.inputConfirmaSenha.$invalid" class="help-block">Campo obrigatório</p>
								<p ng-show="form.$submitted && !vm.verificaSenha() && vm.temSenha() && !vm.minConfirmaSenha() && !vm.minSenha()" class="help-block">Senhas não correspondem</p>
								<p ng-show="form.$submitted && vm.minConfirmaSenha()" class="help-block">Senha muito curta</p>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="modal-footer">
	
		<button type="submit"
				class="btn btn-success"
				ng-disabled="form.$submitted && (form.$invalid || !vm.diretivasInformadas())"> 
				Salvar <i class="fa fa-check" aria-hidden="true"></i>
		</button>
		
		<button type="button"
				class="btn btn-default"
				ng-click="vm.cancelar()">
				Cancelar <i class="fa fa-times" aria-hidden="true"></i>
		</button>
	</div>
</form>